.component-level {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  overflow-x: auto;
  height: 200px;
  max-width: 100vw;
  border-bottom: solid;
  margin-top: -25px; /* offset to compensate for level-tag */
  padding: 0px 20px;
}

#level-tag {
  padding: 5px;
  font-size: 15px;
}

.component {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 1px;
  padding: 20px 10px;
  margin: 0px 20px;
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  min-width: 200px;
  height: 100px;
  text-align: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.144);
}

.component.active {
  background-color: white;
  color: lightblue;
}

.component.active-parent {
  border: solid 3px;
}

.component > h4 {
  font-size: 24px;
  font-weight: bold;
}

.component:hover {
  background-color: rgba(208, 239, 250, 0.233);
}

.component.active:hover {
  background-color: white;
}

#component-menu-icon {
  position: absolute;
  right: 0;
  top: 5px;
  transition: all .2s;
  height: 30px;
}

#component-menu-icon:hover {
  transform: scale(1.2);
}