.component-menu-wrapper {
  position: absolute;
  right: 25px;
  top: 5px;
}

.component-menu {
  position: sticky;
  border: solid 1px lightblue;
  width: 250px;
  z-index: 1;
}

.component-menu:hover {
  cursor: pointer;
}

.component-menu-option {
  background-color: white;
}

.component-menu-option:hover {
  background-color: rgb(156, 225, 248);
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.144);
}