.component-level {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row nowrap;
  overflow-x: auto;
  height: 200px;
  max-width: 100vw;
  border-bottom: solid;
  margin-top: -25px; /* offset to compensate for level-tag */
}

.component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 1px;
  padding: 20px 10px;
  margin: 0px 20px;
  font-size: 20px;
  line-height: 1.5;
  width: 100%;
  height: 100px;
  overflow: auto;
  text-align: center;
}

.component.active {
  background-color: white;
  color: lightblue;
}

.component > h4 {
  font-size: 24px;
  font-weight: bold;
}

#level-tag {
  padding: 5px;
  font-size: 15px;
}