footer {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: rgb(144, 200, 219);
  color: white;
  font-size: 18px;
  padding-left: 30px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.233);
}

footer a {
  color: white;
}