.project-form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 1;
}

.project-form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 300px;
  height: 250px;
  background-color: rgb(79, 141, 161);
  color: white;
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.315);
}

.project-form > h3 {
  font-size: 25px;
  font-weight: bold;
}

.project-form-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 30px;
  border: 1px solid;
  width: 80%;
  box-sizing: border-box;
}

.project-form-inputs > * {
  margin: 3px;
  width: 100%;
}

#submit-new-project {
  display: block;
  background-color: rgb(255, 255, 254);
  color: rgb(34, 80, 95);
  margin-top: 15px;
  padding: 5px 10px;
  width: 80%;
  font-size: 12px;
  transition: all .1s;
}

#submit-new-project:hover {
  transform: scale(1.02);
  cursor: pointer;
}